//MAIN STYLES
@font-face {
  font-family: mediumText;
  src: url("./Assets/CircularFonts/ProductSans-Light.ttf");
  font-weight: medium;
}
@font-face {
  font-family: boldHeader;
  src: url("./Assets/CircularFonts/ProductSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: regular;
  src: url("./Assets/CircularFonts/ProductSans-Regular.ttf");
  font-weight: bolder;
}
@font-face {
  font-family: cardBold;
  src: url("./Assets/CircularFonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: cardText;
  src: url("./Assets/CircularFonts/Gilroy-Light.ttf");
}

:root {
  --dark-bg-color: rgba(29, 29, 29);
  --active-bg-color: rgb(113, 113, 113);
  --hover-bg-color: rgba(90, 90, 90);
  --main-bg-color: rgba(81, 156, 244, 1);
  --main-bg-color: rgba(27, 215, 96);
  --color: rgba(214, 214, 214);
}
body {
  font-family: mediumText;
  background: var(--main-bg-color);
}
h3 {
  font-family: regular;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border-radius: 50px;
  padding: 0.5rem;
}

img {
  height: 45vh;
  width: 25vw;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}
a:hover,
button:hover {
  opacity: 0.5;
}
////LANDINGPAGE

.landingPage {
  width: 40vw;
  margin: 10vw;
  font-family: boldHeader;
  font-size: 36px;
  h1:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

////HEADER
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  a {
    padding: 1rem;
  }

  a:first-of-type {
    position: absolute;
    left: 1rem;
    transform: scale(2);
  }
}
////////GAME
.game {
  display: grid;
  grid-template-areas:
    "players players players "
    " . btn . ";
  button {
    grid-area: btn;
    border: none;
    background: var(--main-bg-color);
    transform: scale(2.5);
    margin: 3rem;
  }
}
.gameBoard {
  display: flex;
  justify-content: center;
  grid-area: players;
  font-family: cardBold;
  color: var(--color);
  margin-top: 5h;

  ul {
    background-color: black;
    box-shadow: 1px 1px 10px black;
    margin: 1rem;
    padding: 1.5rem;
    li:nth-of-type(2) {
      font-family: cardText;
    }
    li:nth-of-type(3) {
      text-align: right;
      cursor: pointer;
    }
  }
}
.blinkHeart {
  animation: blink 1.5s ease-in 2;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.togglePlayer {
  opacity: 0.5;
}

.spotifyPlayer {
  .PlayerRSWP {
    height: 1rem;
    width: 20vw;
  }
  background-color: black;
  .rswp__toggle,
  ._ContentRSWP,
  .ControlRSWP,
  ._ActionsRSWP {
    transform: scale(0.7);
  }
  a {
    color: var(--color);
  }
}

////////GALLERY

.galleryHeaders {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: " .  . . name name name  albums albums  . . . . ";
}
.galleryPosts {
  background-color: var(--dark-bg-color);
  color: var(--color);
  padding-bottom: 1rem;
}
.galleryPost {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    " delete img img title title title album album navdot infoContainer  infoContainer infoContainer"
    " delete img img artist artist artist album album navdot infoContainer infoContainer infoContainer";
  background-color: black;
  img {
    grid-area: img;
    width: 5rem;
    height: 5rem;
  }
  box-shadow: 0px 2px 15px rgb(0, 0, 0);
}

.name {
  grid-area: name;
}
.albums {
  grid-area: albums;
}
.title {
  padding: 0.5rem;
  grid-area: title;
  font-family: regular;
  font-size: 18px;
}
.artist {
  grid-area: artist;
  padding: 0.5rem;
}
.album {
  grid-area: album;
  display: flex;
  align-items: center;
}
.navdot {
  display: flex;
  align-items: flex-end;
  svg {
    grid-area: navdot;
    transform: scale(2);
    cursor: pointer;
  }
}
.gameInfoContainer {
  grid-area: infoContainer;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  height: 9vh;
}

.delete {
  cursor: pointer;
  grid-area: delete;
}

.toggelGameInfo {
  visibility: hidden;
  padding: 0;
}

.galleryPost:hover {
  .toggelGameInfo {
    visibility: visible;
  }
}
.gallery button {
  border: none;
  background: var(--main-bg-color);
  transform: scale(1.2);
  margin: 1.5rem;
  margin-bottom: 0;
}

#toggleOpacity {
  opacity: 0.5;
}

//// ADD NEW SONG
#form {
  height: 40vh;
  width: 40vh;
  grid-area: form;
  z-index: 2;
  background-color: var(--dark-bg-color);
  color: white;
  border: 5px solid white;
  p {
    text-align: right;
    cursor: pointer;
  }
  overflow: scroll;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchResult:hover {
  ul:hover {
    background: var(--hover-bg-color);
  }
}
.chosenSong {
  // padding: 0.5rem;
  background: var(--active-bg-color);
  transform: scale(1.1);
}

input {
  border-radius: 20px;
  border: 1px solid black;
  width: 20vw;
  height: 2rem;
  outline: none;
}

/////HISTORY

.history {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.historyPost {
  background-color: rgb(18, 18, 18);
  color: var(--color);
  display: grid;
  grid-template-areas:
    "winner vs loser delete"
    "winnerText . loserText .";
  margin: 1rem;
  padding: 1rem;
  #delete {
    grid-area: delete;
  }
  img {
    height: 10vw;
    width: 10vw;
    border-radius: 100px;
  }
  text-align: center;
  width: 25vw;
}
.historyWinner {
  grid-area: winner;
  li {
    grid-area: winnerText;
  }
}
.historyLoser {
  position: relative;
  grid-area: loser;
  li {
    grid-area: loserText;
  }
}
.VS {
  grid-area: vs;
  width: 2rem;
  text-align: center;
  margin-top: 10rem;
}

/////statistics
.statistics {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--color);
  article {
    margin: 2rem;
    background-color: black;
    padding: 2rem;
    h3 {
      text-decoration: underline;
    }
    ul {
      padding: 0;
      li:nth-of-type(1) {
        font-family: boldHeader;
      }
    }
  }
}

.nrGames {
  display: flex;
  flex-direction: column;
}
